[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-django = "*"
moto = {git = "https://github.com/spulec/moto", ref = "master"}

[packages]
django = "*"
us = "*"
"boto3" = "*"
django-sesame = "*"
django-webpack-loader = "*"
python-magic = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"

[requires]
python_version = "3.7"
