[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"

[packages]
django = "*"
us = "*"
"boto3" = "*"
django-sesame = "*"

[requires]
python_version = "3.7"
