[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-django = "*"
moto = {git = "https://github.com/spulec/moto",ref = "master"}
ipdb = "*"

[packages]
django = "*"
us = "*"
"boto3" = "*"
django-sesame = "*"
django-webpack-loader = "*"
whitenoise = {version = "*",extras = ["brotli"]}
python-magic = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
sentry-sdk = "==0.7.4"
django-markupfield = "*"
markdown = "*"
mapbox = "*"

[requires]
python_version = "3.7"
