
// Palette URL: http://paletton.com/#uid=72N0I0klllld1zShbrjpvfntE9o
$color-green-0: #378B2E;
$color-green-1: #87D67F;
$color-green-2: #5CB253;
$color-green-3: #1C6414;
$color-green-4: #0A3D04;

$color-red-0: #A7383D;
$color-red-1: #FB959A;
$color-red-2: #D66369;
$color-red-3: #78181D;
$color-red-4: #490509;

$color-yellow-0: #AA7839;
$color-yellow-1: #FFD197;
$color-yellow-2: #DAA665;
$color-yellow-3: #7A4F19;
$color-yellow-4: #4B2C05;

$color-secondary-1-0: #29526D;
$color-secondary-1-1: #6B94AE;
$color-secondary-1-2: #456F8B;
$color-secondary-1-3: #14374E;
$color-secondary-1-4: #061F30;

$color-gray-light: #bbbbbb;
$color-gray-dark: #333333;
