// Palette URL: http://paletton.com/#uid=72N0I0klllld1zShbrjpvfntE9o
$color-green-0: #378b2e;
$color-green-1: #87d67f;
$color-green-2: #5cb253;
$color-green-3: #1c6414;
$color-green-4: #0a3d04;

$color-red-0: #a7383d;
$color-red-1: #fb959a;
$color-red-2: #d66369;
$color-red-3: #78181d;
$color-red-4: #490509;

$color-yellow-0: #aa7839;
$color-yellow-1: #ffd197;
$color-yellow-2: #daa665;
$color-yellow-3: #7a4f19;
$color-yellow-4: #4b2c05;

$color-blue-0: #29526d;
$color-blue-1: #6b94ae;
$color-blue-2: #456f8b;
$color-blue-3: #14374e;
$color-blue-4: #061f30;

$color-gray-light: #bbbbbb;
$color-gray-dark: #333333;
