.FD-year-download {
    display: flex;
    flex-direction: row;
    max-width: 600px;
}

.FD-year-title {
    // vertical-align: bottom;
    flex: 1;
}

.FD-buttons {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

.FD-files-grid {
    display: flex;
    flex-direction: column;
}

.FD-file {
    display: flex;
    flex-direction: column;
}

.FD-info {
    display: flex;
    justify-content: space-between;
}