.FD-year-download {
    display: flex;
    flex-direction: row;
    max-width: 600px;
}

.FD-year-title {
    // vertical-align: bottom;
    flex: 1;
}

.FD-buttons {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

.FD-files-grid {
    display: flex;
    flex-direction: column;
}

.FD-file {
    display: flex;
    flex-direction: column;
}

.FD-file-selected {
    box-sizing: border-box;
    box-shadow: 0 2px 3px hsl(171, 100%, 41%), 0 0 0 1px hsl(171, 100%, 41%)
}

.FD-info {
    display: flex;
    justify-content: space-between;
}