@import 'colors';
@import 'state-map';


/* homepage  */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-body {
    background-image: url("/static/img/precincts.png");
}
.hero-body .title,.hero-body .subtitle {
    color: white;
}
.homepage-columns .column { 
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
}
.homepage-columns .column i {
    font-size: 2em;
    text-align: center;
}
.homepage-columns .column h2 {
    text-align: center;
    margin-top: 0.2em;
}
.homepage-columns .column p {
    margin-bottom: 1em;
}
.homepage-columns .column .button {
    margin-top: auto;
}
.divider-l {
    border-left: 1px solid $color-gray-dark;
}
#what-we-do {
    font-size: 130%;
    margin-bottom: 2em;
}
#homepage-call-to-action {
    font-size: 130%;
    margin: auto;
}

/* header */
#welcome-back {
    padding-right: 1em;
}

/* footer */
.footer {
    background-color: $color-gray-dark;
}
.footer-cc-license { 
    color: $color-gray-light;
}
ul.footer-links {
    list-style: none;
}
.footer a:hover {
    color: white;
}


/* signup - login */
.signup, .login {
    width: 40%;
    margin-top: 1em;
}
.simpleform {
    width: 40%;
}


/* flat pages */
.process-step .column:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: none;
    width: 20%;
}


.process-step .column:first-child div {
    font-size: 200%;
    border: 8px solid $color-green-0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 60px;
    text-align: center;
}

.process-step .column h2 { 
    margin-top: 1em;
}

/* utilities */

.allow-wide { 
    width: 80%;
}
.allow-wide .progress {
    margin-bottom: 0.1em;
}


/* state page */

.fraction {
    font-size: 70%;
    color: $color-gray-light;
}
.state-stage-complete, .state-stage-wip, .state-stage-inactive {
    margin-left: 1em;
}
.state-stage-complete {
    border: 3px solid $color-green-2;
    background-color: $color-green-1;
}
.state-stage-wip {
    border: 3px solid $color-yellow-2;
    background-color: $color-yellow-1;
}
.state-stage-inactive {
    border: 3px solid $color-gray-dark;
    background-color: $color-gray-light;
}
