.OP-Readme-Container {
    height: 100vh;
    width: 60vw;
    overflow-y: scroll;
}

.OP-Readme-Container h1 {
    font-size: 28px;
    font-weight: bold;
}

.OP-Readme-Container h2 {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.OP-Readme-Container ul {
    list-style: inside;
}

.OP-Readme-Container p {
    line-height: 2em;
}

.OP-Readme-Container li > ul {
    margin-left: 20px;
}

.OP-Readme-Container > table {
    display: block;
    width: 100%;
    overflow: auto;
    /* copy the Bulma table styles */
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    border-spacing: 0;
}
.OP-Readme-Container > table td,
.OP-Readme-Container > table th {
    /* copy the Bulma table styles */
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
}