#map-menu {
    position: relative;
    z-index: 10;
    top: 100px;
    left: 10px;
    bottom: 10px;
    width: 150px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.4);
}

.OP-State-Info-Container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 67vw;
}

.OP-State-Info-Container > div {
    margin-right: 5px;
}