{% extends "base.html" %}

{% block body %}
{{ state_status|json_script:"state-status" }}

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title center is-1">OpenPrecincts</h1>
            <h2 class="subtitle center">Fighting gerrymandering, one precinct at a time.</h2>
        </div>
    </div>
</section>

<section>
    <p class="update-txt"><span>Update</span>&nbsp;&nbsp;October 2019: <a href="/nv"><strong>Nevada</strong> 2018 elections matched with shapefiles</a></p>
</section>


<section class="section">
    <div class="container">
        <p id="what-we-do">We're building a complete, legislative-quality database of electoral precinct data for the entire nation, and we <strong>need your help</strong>.</p>

        <div class="columns homepage-columns">
            <div class="column">
                <i class="fas fa-mail-bulk"></i>
                <h2 class="title is-4">Gathering</h2>
                <p>We're gathering raw precinct data in all formats from all 50 states, Washington DC, and Puerto Rico.</p>
            </div>
            <div class="column divider-l">
                <i class="fas fa-cogs"></i>
                <h2 class="title is-4">Cleaning &amp; Validating</h2>
                <p>We then employ a rigorous process to make sure our data is top quality, aligned to census data and election results.</p>
            </div>
            <div class="column divider-l">
                <i class="fas fa-database"></i>
                <h2 class="title is-4">Publishing</h2>
                <p>All of the data we collect and clean will be available for the public to use to analyze districts and build better redistricting tools.</p>
            </div>
        </div>

        <div class="center">
            <a class="button is-primary" id="homepage-call-to-action" href="{% url "national_overview" %}">
            Check on your state &amp; help us get started now!
        </a>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Current Progress</h1>
        <div data-hook="state-map"></div>
    </div>
</section>
{% endblock %}
