{% extends "base.html" %}
{% block body %}
{{ state_status|json_script:"state-status" }}

<section class="section">
<div class="container">
    <h2 class="title is-2">State Overview</h2>
    <div data-hook="state-map"></div>
</div>
</section>

<section class="section">
<div class="container">

<div class="columns">
    
<div class="column">
<h3 class="title is-4">State Details</h3>
<table class="table">
<thead>
    <tr>
      <th>State</th>
      <th>Status</th>
    </tr>
</thead>
<tbody>
{% for state in states %}
<tr>
    <td><a href="{% url "state_overview" state.abbreviation.lower %}">{{ state.name }}</a></td>
    <td>
      {{ state.display_status }}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="column">
{% include "_components/leaderboard.html" %}
</div>

</div>
</section>


{% endblock %}
