{% extends "base.html" %}
{% block body %}
{{ state_status|json_script:"state-status" }}

<section class="section">
<div class="container">
    <div data-hook="state-map"></div>
</div>
</section>

<section class="section">
<div class="container">

<table class="table">
<thead>
    <tr>
      <th>State</th>
      <th>Status</th>
      <th>Data Collection</th>
    </tr>
</thead>
<tbody>
{% for state in states %}
<tr>
    <td><a href="{% url "state_overview" state.abbreviation.lower %}">{{ state.name }}</a></td>
    <td>
        {% if state.status.value == "unknown" %}
        TBD
        {% elif state.status.value == "collection" %}
        Collection In Progress
        {% elif state.status.value == "cleaning" %}
        Cleaning Data
        {% elif state.status.value == "available" %}
        Data Available
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
</section>

{% endblock %}
