{% extends "base.html" %}
{% load common %}

{% block body %}
<section class="section">
<div class="container">    
    <h1 class="title is-2">{{ state }}</h1>

    {# top section: overview of where things are at and where they're going next #}

    {% if state.status.value == "unknown" %}
    <p>
        We haven't yet determined the best course of action for {{ state }}.  If you're interested in helping us get started <a href="mailto:gerrymander@princeton.edu">contact us</a> and we'd be glad to work with you to get things started here!
    </p>

    {% else %}

    <div class="columns">
        <div class="column state-stage-{{ state.collection_status }}">
            <h2 class="title is-4">Collection</h2>

            <ul>
            {% state_status_item state.task_collect "Collect Contact Information" %}
            {% state_status_item state.task_contact "Contact Officials" %}
            {% state_status_item state.task_files "Raw File Collection" %}
            </ul>
        </div>

        <div class="column state-stage-{{ state.cleaning_status }}">
            <h2 class="title is-4">Cleaning</h2>
            <ul>
                {% state_status_item state.task_digitization "Digitization" %}
            </ul>
        </div>

        <div class="column state-stage-{{ state.final_status }}">
            <h2 class="title is-4">Finalization</h2>
            <ul>
                {% state_status_item state.task_verification "Verification" %}
                {% state_status_item state.task_published "Published" %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
</section>

{% if state.collection_status == "wip" %}
<section class="section">
<div class="container">    
    <h3 class="title is-3">Data Collection</h3>

    <div>
        Contact Information ({{ localities_with_officials }}/{{ localities|length }})
        <progress class="progress is-link" value="{{ localities_with_officials }}" max="{{ localities|length }}"></progress>
        </div>
    <div>
        Locality Precinct Data (0/{{ localities|length }})
        <progress class="progress is-warning" value="0" max="{{ localities|length }}">40%</progress>
    </div>

{% if localities %}
    <table class="table">
    <thead>
        <th>Locality</th>
        <th>Officials</th>
        <th>Contacts Made</th>
    </thead>
    <tbody>
    {% for locality in localities %}
    <tr>
        <td><a href="{% url "locality_overview" locality.id %}">{{ locality.name }}</a></td>
        <td>{{ locality.total_officials }} </td>
        <td>{{ locality.total_contacts }} </td> 
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
</div>
</section>
{% endif %}

{% endblock %}
