{% extends "base.html" %}

{% block body %}
<section class="section">
<div class="container">    
    <h1 class="title is-2">{{ state }}</h1>

    <div class="columns">
        <div class="column state-stage-done">
            <h2 class="title is-4">Collection</h2>

            <ul>
                <li>
                    <i class="fas fa-check"></i>
                    Collect Contact Details
                </li>
                <li>
                    <i class="fas fa-check"></i>
                    Contact Officials
                </li>
                <li>
                    <i class="fas fa-check"></i>
                    Raw File Collection
                </li>
            </ul>
        </div>

        <div class="column state-stage-wip">
            <h2 class="title is-4">Cleaning</h2>
            <ul>
                <li>
                    <i class="far fa-times-circle"></i>
                    Digitization
                </li>
                <li>
                    <i class="far fa-times-circle"></i>
                    Cleaning
                </li>
                <li>
                    <i class="far fa-times-circle"></i>
                    Election Matching
                </li>
            </ul>
        </div>

        <div class="column state-stage-inactive">
            <h2 class="title is-4">Finalization</h2>
            <ul>
                <li>
                    <i class="far fa-times-circle"></i>
                    Verification
                </li>
                <li>
                    <i class="far fa-times-circle"></i>
                    Publishing
                </li>
            </ul>
        </div>
    </div>

<!-- step 1 -->
{% if not localities %}
<p>In {{ state }} precinct data is maintained at the state level, so there's no need to contact local governments.  We've gone ahead and done this, so we have data to start working with already!</p>
{% else  %}
<p>In {{ state }} we'll need to collect data from each county. This work starts with finding Elections &amp; GIS officials that can provide us with a map of precincts, preferably already as a shapefile.</p>
</div>
</section>


<section class="section">
<div class="container">    
    <div>
        Contact Information ({{ localities_with_officials }}/{{ localities|length }})
        <progress class="progress is-link" value="{{ localities_with_officials }}" max="{{ localities|length }}"></progress>
        </div>
    <div>
        Locality Precinct Data (0/{{ localities|length }})
        <progress class="progress is-warning" value="0" max="{{ localities|length }}">40%</progress>
    </div>
{% endif %}


<div>
    Finalized Data (22/67)
    <progress class="progress is-danger" value="22" max="67">20%</progress>
</div>

{% if localities %}
    <table class="table">
    <thead>
        <th>Locality</th>
        <th>Officials</th>
        <th>Contacts Made</th>
    </thead>
    <tbody>
    {% for locality in localities %}
    <tr>
        <td><a href="{% url "locality_overview" locality.id %}">{{ locality.name }}</a></td>
        <td>{{ locality.total_officials }} </td>
        <td>{{ locality.total_contacts }} </td> 
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

</div>
</section>
{% endblock %}
