{% extends "base.html" %}
{% load common %}

{% block body %}
<section class="section is-tabsection">
<div class="container">
    <h1 class="title is-1">{{ state }} admin</h1>

    <div class="tabs is-medium">
      <ul>
        <li class="is-active"><a data-tab="files">Files</a></li>
        <li><a data-tab="users">Users</a></li>
        <li><a data-tab="feed">Feed</a></li>
      </ul>
    </div>
</div>
</section>

<div data-tabbody="files">
<section class="section">
<div class="container">
    {{ files|json_script:"files-data" }}
    <script>
      const files_columns = ["checkbox", "cycle", "stage", "filename", "created_at", "download_url"];
    </script>

    <form action="{% url 'add_transformation' %}" method="POST">
      {% csrf_token %}
      <div class="level">
      <div class="level-left">
          <div class="level-item">
          <div class="field">
            <label class="label">Add Transformation</label>
            <div class="control">
            <div class="select">
                <select name="transformation_id">
                    <option value="">-----</option>
                  {% for id, name in transformations.items %}
                    <option value="{{ id }}">{{ name }}</option>
                  {% endfor %}
                </select>
            </div>
            </div>
          </div>
          </div>
          <div class="level-item">
          <div class="field">
            <label class="label">Alter Files</label>
            <div class="control">
            <div class="select">
                <select name="alter_files">
                    <option value="">-----</option>
                    <option value="make_final">Make Final</option>
                    <option value="deactivate">Deactivate</option>
                </select>
            </div>
            </div>
          </div>
          </div>
      </div>
      <div class="level-right">
          <div class="level-item">
          <div class="control">
              <input type="submit" class="button is-primary">
          </div>
          </div>
      </div>
      </div>
      <div data-hook="file-browser"></div>
    </form>
</div>
</section>

<section class="section">
<div class="container">
    <h3 class="title is-3">Upload Files</h3>
    <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="locality" value="{{ statewide_locality.id }}">

    <div class="field">
      <label class="label">File Stage</label>
      <div class="control">
      <div class="select">
          <select name="stage">
              <option value="S">Source</option>
              <option value="I">Intermediate</option>
              <option value="F">Final</option>
          </select>
      </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Cycle</label>
      <div class="control">
      <div class="select">
          <select name="cycle">
              {% for c in cycles %}
                  <option value="{{ c.id }}">{{ c }}</option>
              {% endfor %} 
          </select>
      </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Source URL</label>
      <div class="control">
        <input class="input" name="source_url" />
      </div>
    </div>

    <div class="file has-name field">
      <label class="file-label">
        <input class="file-input" type="file" name="files" multiple>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Select files to upload…
          </span>
      </span>
      <span class="file-name">
      </span>
      </label>
    </div>

    <div class="control">
        <input type="submit" class="button is-primary">
    </div>
    </form>
</div>
</section>
</div>

<section class="section" data-tabbody="users">
<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Contact</th>
            <th>Write</th>
            <th>GIS</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
    {% for u in users %}
    <tr>
        <td>{{ u.email }}</td>
        <td>{{ u.contact|yesno }}</td>
        <td>{{ u.write|yesno }}</td>
        <td>{{ u.gis|yesno }}</td>
        <td>{{ u.admin|yesno }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</section>

<section class="section" data-tabbody="feed">
<div class="container">
    {% regroup feed by created_at.date as grouped_feed %}
    {% for day in grouped_feed %}
    <div class="media">
        <strong>{{ day.grouper }}</strong>
    </div>
        {% for f in day.list %}
        <div class="media">
            {{ f.description }}
            <div class="media-right">
            <small>{{ f.created_by }}</small> <small>{{ f.created_at. }}</small>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</div>
</section>
{% endblock %}
