{% extends "base.html" %}
{% load common %}

{% block title %}{{ state }} | OpenPrecincts{% endblock %}

{% block body %}
<section class="section">
<div class="container">    
    <h1 class="title is-2">{{ state }}</h1>

    {# top section: overview of where things are at and where they're going next #}

    <div class="columns">
    <div class="column">
    {% if state.status == "need-to-collect" %}
        <div class="state-status-collecting">
            <h4 class="title is-4">Status: Collection In Progress</h4>
            <p>We are in the process of collecting &amp; cleaning data for {{ state }}.</p>
    {% elif state.status == "geography" %}
        <div class="state-status-cleaning">
            <h4 class="title is-4">Status: Cleaning In Progress</h4>
            <p>We are in the process of cleaning data for {{ state }}!</p>
    {% elif state.status == "election-data-linked" or state.status == "census-data-linked" %}
        <div class="state-status-available">
            <h4 class="title is-4">Status: Data Available</h4>
            <p>{{ state }} data is currently up-to-date and available below.</p>
    {% elif state.status == "validated" %}
        <div class="state-status-available">
            <h4 class="title is-4">Status: Validated</h4>
            <p>{{ state }} data is currently up-to-date, validated, and available below.</p>
    {% endif %}
            <br>
            <p> {{ state.status_text }} </p>
        </div>

{# user permission status, only showing if logged in and crowdsourcing is enabled #}
{% if not request.user.is_anonymous and state.show_crowdsourcing_tools %}
    <br>
    {% if user_can_contact or user_can_write %}
    <p class="has-text-success has-text-weight-semibold">
        You have permission to contribute to this state's data collection.
    </p>
    {% else %}
    <p class="has-text-grey has-text-weight-semibold">
        You don't have permission to contribute to this state's data collection. <a href="mailto:openprecincts@gmail.com">Contact Us</a> and we'll help you get started.
    </p>
    {% endif %}

    {% if user_can_contact %}
    <p class="has-text-success has-text-weight-semibold">
        You have permission to <a href="{% url 'bulk_email' state.abbreviation.lower %}">draft contact emails</a> for this state.
    </p>
    {% endif %}
{% endif %}


    </div>
    </div>
</div>
</section>

{% if state.status == "election-data-linked" or state.status == "validated" or state.status == "census-data-linked" %}
<div>
    {{ elections|json_script:"elections-data" }}
    {{ readmes|json_script:"readmes-data" }}
    {{ files|json_script:"files-data" }}
    <div data-hook="state-container">
    </div>
<!-- <div class="container">
  <div data-hook="precinct-map"
    data-state="{{ state.abbreviation.lower }}"
    data-fips="{{ state.census_geoid }}"
    data-dem-property="{{ elections.0.dem_property }}"
    data-rep-property="{{ elections.0.rep_property }}"
    data-dem-name="{{ elections.0.dem_name }}"
    data-rep-name="{{ elections.0.rep_name }}"
    data-election-name="{{ elections.0 }}"
    >
  </div>
</div> -->
</div>
{% endif %}

{% if state.status != "unknown" and state.show_crowdsourcing_tools %}

<section class="section">
<div class="container">    
    <h3 class="title is-3">Data Collection</h3>

    <div class="level">
        <div class="level-item has-text-centered">
         <div class="allow-wide">
          <p class="heading">Officials</p>
          <p class="title">{{ total_officials }}</p>
          <progress class="progress is-link" value="{{ localities_with_officials }}" max="{{ localities|length }}"></progress>
          <p class="fraction">
              {{ localities_with_officials }}/{{ localities|length }}
          </p>
          </div>
      </div>

      <div class="level-item has-text-centered">
        <div class="allow-wide">
          <p class="heading">Contacted</p>
          <p class="title">{{ total_contacts }}</p>
          <progress class="progress is-link" value="{{ localities_with_contacts }}" max="{{ localities|length }}"></progress>
          <p class="fraction">
              {{ localities_with_contacts }}/{{ localities|length }}
          </p>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div class="allow-wide">
          <p class="heading">Files</p>
          <p class="title">{{ total_files }}</p>
          <progress class="progress is-link" value="{{ localities_with_files }}" max="{{ localities|length }}"></progress>
          <p class="fraction">
              {{ localities_with_files }}/{{ localities|length }}
          </p>
        </div>
     </div>

  </div>


{% if localities %}
    <table class="table">
    <thead>
        <th>Locality</th>
        <th>Officials</th>
        <th>Contacts Made</th>
        <th>Files Received</th>
    </thead>
    <tbody>
    {% for locality in localities %}
    <tr>
        <td><a href="{% url "locality_overview" locality.id %}">{{ locality.name }}</a></td>
        <td>{{ locality.total_officials }} </td>
        <td>{{ locality.total_contacts }} </td> 
        <td>{{ locality.total_files }} </td> 
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

</div>
</section>
{% endif %}
{% endblock %}
