/* homepage  */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-body {
    background-image: url("/static/img/precincts.png");
}
.hero-body .title,.hero-body .subtitle {
    color: white;
}
.homepage-columns .column { 
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
}
.homepage-columns .column i {
    font-size: 2em;
    text-align: center;
}
.homepage-columns .column h2 {
    text-align: center;
}
.homepage-columns .column p {
    margin-bottom: 1em;
}
.homepage-columns .column .button {
    margin-top: auto;
}
.divider-l {
    border-left: 1px solid #999;
}
#what-we-do {
    font-size: 130%;
    margin-bottom: 2em;
}

/* footer */
.footer {
    background-color: #333;
}
.footer-cc-license { 
    color: #ccc;
}
ul.footer-links {
    list-style: none;
}
.footer a:hover {
    color: white;
}

/* signup - login */
.signup, .login {
    width: 40%;
    margin-top: 1em;
}
.simpleform {
    width: 40%;
}
