{% extends "base.html" %}
{% load common %}

{% block body %}

<form method="POST">
{% csrf_token %}

<section class="section">
<div class="container">

<div class="columns">
    <div class="column is-two-thirds">
        <h3 class="title is-3">Draft Email</h3>
        {% render_field form.subject_template %}
        {% render_field form.body_template %}

        <input class="button" type="submit" value="Save Draft">
    </div>
    <div class="column">
        <h3 class="title is-3">Template Variables</h3>
        <p>
            When composing your template the following variables are available:
        </p>
        <dl>
            <dt>LOCALITY</dt>
            <dd>Name of the locality, e.g. "Wake County"</dd>
            <dt>NAME</dt>
            <dd>Name of official, e.g. "Anne Smith"</dd>
            <dt>FIRST</dt>
            <dd>First name, e.g. "Anne"</dd>
            <dt>LAST</dt>
            <dd>Last name, e.g. "Smith"</dd>
            <dt>TITLE</dt>
            <dd>Title of official, e.g. "Mr."</dd>
        </dl>
    </div>
</div>

</section>
</div>

<section class="section">
<div class="container">

<table class="table">
    <thead>
        <th>Email</th>
        <th>Name</th>
        <th>Locality</th>
        <th>Times Contacted</th>
        <th>Last Contacted</th>
    </thead>
    <tbody>
        {% for official in officials %}
        <tr>
            <td><input type="checkbox" value="{{ official.id }}" name="recipients" {% if official.checked %}checked{% endif %}></td>
            <td>{{ official }}</td>
            <td>{{ official.locality.name }}</td>
            <td>{{ official.times_contacted }}</td>
            <td>{{ official.last_contacted }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<input class="button" type="submit" value="Save Draft">

</div>
</section>


</form>
{% endblock %}
