{% extends "base.html" %}
{% load common %}

{% block body %}

<section class="section">
<div class="container">

<div class="columns">

<div class="column is-two-thirds">
    <h2 class="title is-2">Email Preview</h2>

    {% if template_error %}
    {% endif %}

    <h3 class="title is-3">{{ preview_subject }}</h3>
    <div class="body">
        {{ preview_body }}
    </div>
</div>

<div class="column">
    <dl>
        <dt>Created By</dt>
        <dd>{{ email.created_by }}</dd>
        <dt>Status</dt>
        <dd>{{ email.status }}</dd>
        <dt>Recipients</dt>
        <dd>{{ email.officials.count }}</dd>
    </dl>

    {% comment %}
    <form method="POST">
        <input type="submit" class="button is-success" value="Approve">
        <input type="submit" class="button is-danger" value="Reject">
    </form>
    {% endcomment %}

    <a href="{% url 'bulk_email' email.state.abbreviation.lower %}?edit={{ email.id }}" class="button">Edit</a>
</div>

</div>
</div>
</section>
{% endblock %}
