<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

<div class="section">
<div class="container">
  <div data-hook="precinct-map">
  </div>

    <div class="center">
      {% if final_zip_file %}
      <a href="{% url 'download' final_zip_file.id %}" class="button is-large is-primary final-download">
      <span class="file-icon">
        <i class="fas fa-download"></i>
      </span>
      Download {{ state }} Shapefile
      </a>
      {% endif %}

      {% if final_geojson_file %}
      <a href="{% url 'download' final_geojson_file.id %}" class="button is-large is-primary final-download">
      <span class="file-icon">
        <i class="fas fa-download"></i>
      </span>
      Download {{ state }} GeoJSON
      </a>
      {% endif %}
    </div>
</div>
</div>

<!--

//const demProperty = "G16DPRS";
//const repProperty = "G16RPRS";

const demName = "Democrat";
const repName = "Republican";

map.on('load', function() {
  function toFixed(value, precision) {
    var power = Math.pow(10, precision || 0);
    return String(Math.round(value * power) / power);
  }

  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  var popup = new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false,
    anchor: 'bottom-left',
    offset: 0
  });

  var hoveredStateId = null;

  map.on('mousemove', 'precincts', function(e) {
    // Change the cursor style as a UI indicator.
    map.getCanvas().style.cursor = 'pointer';

    var coordinates = e.lngLat;
    var description =
      `
    <div class="precinct-name">${e.features[0].properties.precinct || ""}</div>
    <div class="county-name">${e.features[0].properties.locality || ""}</div>
    <table class="elec-table">
      <thead>
        <tr>
          <th class='cand'>Candidate</th>
          <th class='votes'>Votes</th>
          <th class='pct'>%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='cand'><span class="party-dem">&#9679;</span> ${demName} </td>
          <td>${numberWithCommas(e.features[0].properties[demProperty])}</td>
          <td>${toFixed((100*parseInt(e.features[0].properties[demProperty]) / (parseInt(e.features[0].properties[demProperty]) + parseInt(e.features[0].properties[repProperty]))), 1)}</td>
        </tr>
        <tr>
          <td class='cand'><span class="party-rep">&#9679;</span> ${repName}</td>
          <td>${numberWithCommas(e.features[0].properties[repProperty])}</td>
          <td>${toFixed((100*parseInt(e.features[0].properties[repProperty]) / (parseInt(e.features[0].properties[demProperty]) + parseInt(e.features[0].properties[repProperty]))), 1)}</td>
        </tr>
      </tbody>
    </table>
    `
    // Populate the popup and set its coordinates based on the feature found.
    popup.setLngLat(coordinates)
      .setHTML(description)
      .addTo(map);

    if (hoveredStateId) {
      map.setFeatureState({
        source: 'precincts',
        id: hoveredStateId,
        sourceLayer: 'va'
      }, {
        hover: false
      });
    }
    hoveredStateId = e.features[0].id;
    map.setFeatureState({
      source: 'precincts',
      id: hoveredStateId,
      sourceLayer: 'va'
    }, {
      hover: true
    });

  });

  map.on('mouseleave', 'precincts', function() {
    map.getCanvas().style.cursor = '';
    popup.remove();
  });

});
-->
