{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <span id="navbar-logo" style="font-weight: bold;">OpenPrecincts</span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
        <a class="navbar-item" href="{% url 'national_overview' %}">
        State Overview
      </a>

      <a class="navbar-item" href="#docs">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
        {% if request.user.is_authenticated %}
        Welcome back,&nbsp;
        <a href="{% url 'profile' %}">{{ request.user.first_name }}</a>!
        {% else %}
        <div class="buttons">
          <a class="button is-primary" href="{% url 'signup' %}">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="{% url 'login' %}">
            Log in
          </a>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</nav>

{% block body %}
{% endblock %}

<footer class="footer">
  <div class="content">
      <div class="columns">
          <div class="column footer-cc-license is-two-fifths">
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                  <i class="fab fa-creative-commons"></i>
                  <i class="fab fa-creative-commons-by"></i>
                  <i class="fab fa-creative-commons-nc"></i>
                  <i class="fab fa-creative-commons-sa"></i>
              </a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
          </div>
          <div class="column"></div>
          <div class="column">
              <ul class="footer-links">
                  <li>
                      <a href="https://github.com/openprecincts">
                          <i class="fab fa-github"></i>
                          GitHub
                      </a>
                  </li>
                  <li>
                      <a href="https://twitter.com/openprecincts">
                          <i class="fab fa-twitter"></i>
                          Twitter
                      </a>
                  </li>
                  <li>
                      <a href="https://twitter.com/openprecincts">
                          <i class="fas fa-envelope"></i>
                          Contact
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>

</body>
</html>
